<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101669159297-edd3ajpdebo6p3g07bdjeg6orbfdgg90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101669159297-edd3ajpdebo6p3g07bdjeg6orbfdgg90</string>
	<key>API_KEY</key>
	<string>AIzaSyDTBMeAmHd2m_dFoL32jUn60P3WW4y6ons</string>
	<key>GCM_SENDER_ID</key>
	<string>101669159297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brewCrew</string>
	<key>PROJECT_ID</key>
	<string>brew-crew-3a6cf</string>
	<key>STORAGE_BUCKET</key>
	<string>brew-crew-3a6cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101669159297:ios:830c706b9f420c37fd6880</string>
	<key>DATABASE_URL</key>
	<string>https://brew-crew-3a6cf-default-rtdb.firebaseio.com</string>
</dict>
</plist>